<h1>Password generator</h1>

<form action = "{% url 'password' %}">
    <select name="length">
        <option value="6">6 символов</option> #можно в value написать то самое значение, а в теге option отображать то, что пользователь увидит на сайте
        <option value="7">7 символов</option>
        <option value="8">8 символов</option>
        <option value="9">9 символов</option>
        <option value="10">10 символов</option>
        <option value="11">11 символов</option>
        <option value="12" selected="selected">12 символов</option>
        <option value="13">13 символов</option>
        <option value="14">14 символов</option>
    </select>
    <br>

    <input type="checkbox" name="uppercase"> Заглавные буквы
    <input type="checkbox" name="numbers"> Цифры
    <input type="checkbox" name="special"> Специальные символы

    </br>
    <input type="submit" value="Generate Password">
</form>

<a href="{% url 'definition' %}">Описание</a>